# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
tasks.json
tasks/

# Build outputs
dist/
dist_electron/
*.asar

# Package managers
package-lock.json
pnpm-lock.yaml
yarn.lock

# Electron build artifacts
.electron-builder/
out/
releases/ 